## Projet de MODS206 - Nowcasting and Dynamic Factor Models

### BASTIDE Simon, RISTORCELLI Ulysse, VUJASINOVIC Thomas

Analyse des bases de données de base, en se restreignant aux fréquences mensuelles :

In [2]:
#imports
import pandas as pd

In [4]:
sight_seeing_demand_df=pd.read_csv('databases/famille_SUIVI-DEMANDE-TOURISTIQUE/valeurs_mensuelles.csv', sep=';')
sight_seeing_demand_df.dropna(axis=0)
sight_seeing_demand_df

overnight_stays_df=pd.read_csv('databases/famille_NUITEE/valeurs_mensuelles.csv', sep=';')
overnight_stays_df

,Libellé,idBank,Dernière mise à jour,Période,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,...,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12,2024-01
0,Arrivées dans l'hôtellerie - Total - Départeme...,1717310.0,06/03/2019 15:11,NaN,98.29,97.11,94.35,97.0,96.31,70.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arrivées dans l'hôtellerie - Total - France mé...,1717313.0,06/03/2019 15:11,NaN,6098.89,6691.69,7929.4,9034.22,10261.47,10657.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arrivées dans l'hôtellerie - Total - France mé...,1711123.0,06/03/2019 15:11,NaN,6000.6,6594.58,7835.05,8937.22,10165.17,10586.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,A,A,A,A,A,A,A,P
3110,Nuitées dans les Autres Hébergements Collectif...,10755264.0,15/03/2024 14:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,499.0,45.2,65.9,279.2,290.8,45.4,18.1,14.0,576.7,1216.2
3111,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,A,A,A,A,A,A,A,P
3112,Nuitées dans les Autres Hébergements Collectif...,10755261.0,15/03/2024 14:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,173.7,152.7,192.7,347.1,348.5,193.8,190.8,52.6,74.4,65.7
3113,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,A,A,A,A,A,A,A,P