## Projet de MODS206 - Nowcasting and Dynamic Factor Models

### BASTIDE Simon, RISTORCELLI Ulysse, VUJASINOVIC Thomas

Données de fréquentations des gares SNCF:

In [1]:
#imports
import pandas as pd

In [2]:
df=pd.read_csv('databases/frequentation-gares.csv', sep=';')
df

,Nom de la gare,Code UIC,Code postal,Segmentation DRG,Total Voyageurs 2022,Total Voyageurs + Non voyageurs 2022,Total Voyageurs 2021,Total Voyageurs + Non voyageurs 2021,Total Voyageurs 2020,Total Voyageurs + Non voyageurs 2020,Total Voyageurs 2019,Total Voyageurs + Non voyageurs 2019,Total Voyageurs 2018,Total Voyageurs + Non voyageurs 2018,Total Voyageurs 2017,Total Voyageurs + Non voyageurs 2017,Total Voyageurs 2016,Total Voyageurs + Non voyageurs 2016,Total Voyageurs 2015,Total Voyageurs + Non voyageurs 2015
0,Abbaretz,87481614,44170,C,40825,40825,27466,27466,22773,22773,38473,38473,38027,38027,35637,35637,33021,33021,35989,35989
1,Ablon-sur-Seine,87545269,94480,B,1203692,1203692,1594567,1594567,660309,660309,1457253,1457253,1462108,1462108,1471462,1471462,1453063,1453063,1427319,1427319
2,Achères Grand Cormier,87386052,78100,B,177092,177092,209673,209673,126513,126513,221003,221003,228032,228032,235698,235698,238687,238687,241046,241046
3,Acheux - Franleu,87316745,80560,C,2,2,0,0,0,0,2,2,235,235,104,104,308,308,898,898
4,Aigrefeuille le Thou,87485193,17290,C,51200,51200,32989,32989,24987,24987,31170,31170,18670,18670,14513,14513,266,266,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3016,Woippy,87192088,57140,B,154292,192865,97259,121574,79458,99323,139362,174202,120464,150580,117181,146477,100227,125284,89236,111545
3017,Xertigny,87144121,88220,C,3304,3304,916,916,871,871,1185,1185,1036,1036,978,978,1350,1350,1919,1919
3018,Ychoux,87582536,40160,B,182592,228240,133910,167388,95922,119902,142217,177771,114265,142831,106731,133414,94468,118086,96735,120919
3019,Yerres,87682112,91330,B,3738278,3738278,3059573,3059573,2173871,2173871,4525768,4525768,4349907,4349907,4207385,4207385,3990066,3990066,3764066,3764066
3020,Zornhoff Monswiller,87212217,67700,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0